{% extends 'base.html' %}

{%block content%}
<h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Searched word - {{ keyword }}</h3>
<div class="row mb-2">
  {% if blog %}
  {% for i in blog %}
  <div class="col-md-6">
    <div class="card border-0">
      <div class="card-body">
        <h3>{{i.title}}</h3>
        <small class="mb-1 text-muted">{{ i.created_At | timesince }} ago | {{ i.author }}</small>
        <p class="card-text">{{ i.short_description | truncatewords:25 }}</p>
        <p class="lead mb-0"><a href="{% url 'blog' i.slug %}" class="btn btn-sm btn-outline-primary">Continue reading</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>No posts found</p>
  {% endif %}

</div>
{%endblock%}